.boardwrapper {
  border: 1px solid blue;
}

.Link2 {
  border: 1px solid blue;
  & span {
    margin: 20px;
    font-size: 30px;
  }
}

.board-table {
  border: 2px solid red;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

thead {
  font-weight: bold;
  color: #fff;
  background: #73685d;
}

th,
td {
  border: 1px solid black;
  padding: 1em 0.5em;
  vertical-align: middle;
}

.board-detail {
  text-align: left;
  border: 2px solid rgb(0, 68, 255);
  padding: 1em 0.5em;
  & .d1 {
    margin: 10px 0;
  }
  & .d-content {
    background-color: rgb(231, 231, 231);
    padding: 0.5em 1em 1.5em 1em;
    margin: 0.5em;
  }
}

hr {
  border-top: 1px solid #8c8c8c;
  width: 90%;
  margin: 1.3em auto;
}

.d-delete {
  border: 1px solid black;
  display: block;
  text-align: center;
  & input {
    width: 7em;
    height: 1.3em;
  }
}

.d-wrong-pw {
  color: rgb(77, 68, 68);
  text-align: center;
}

.detail-button {
  border: 1px solid orange;
  text-align: center;
  margin: 0.5em 0;
  & button {
    margin: 0 0.5em;
    border-radius: 0.5em;
    border: none;
    background-color: rgb(212, 120, 0);
    color: white;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
    width: 8em;
    letter-spacing: 3px;
  }
}
