form {
  border: 1px solid #7a7a7a6e;
  border-radius: 0.5em;
  box-shadow: 1px 0px 3px #afafafc2;
  margin: 10px;
}

button {
  border: none;
  width: 7em;
  height: 2.5em;
  border-radius: 1em;
  color: #ffffff;
  background-color: rgb(108, 225, 90);
  font-size: 1em;
  cursor: pointer;
}
.bw-submit {
  position: relative;
  translate: -136px 0px;
  margin-bottom: 10px;
}

.M-submit {
  // margin-bottom: 10px;
  translate: 0 -10px;
}

#bw-back {
  display: block;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.writeform {
  display: block;
  div {
    // &:nth-last-child(3) > label {
    //   width: 15em;
    // }
    &:nth-last-child(4) > input {
      width: 18em;
    }
  }
}

.modifyform {
  div:nth-last-child(2) > input {
    width: 18em;
  }
}

textarea {
  position: relative;
  translate: -110px -30px;
  width: 270px;
  height: 80px;
  resize: none;
  border: 1px solid gray;
  border-radius: 5px;
}

.Mcontent {
  translate: -167px -30px;
}

.wf-input {
  text-align: left;
  margin: 10px 0;
  display: flex;
  & label {
    margin: 0 10px;
    display: block;
    width: 4em;
  }
  & input {
    border: 1px solid gray;
    border-radius: 5px;
    height: 1.6em;
  }
}

.pagination {
  // border: 1px solid black;
  margin: 10px;
  display: inline-flex;
  & button {
    width: 2.9em;
    margin: 0 1px;
    background-color: #dfdfdf;
    color: rgb(120, 120, 120);
    &:hover {
      background: #c6c6c6;
    }
    // &:first-child {
    //   margin-right: 1em;
    // }
    // &:last-child {
    //   margin-left: 1em;
    // }
    &[class="active"] {
      margin: 0 1em;
    }
  }
}
